# –î–ó 6

## –ó–∞–¥–∞—á–∞ 1

–î–∞–Ω—ã –∑–Ω–∞—á–µ–Ω–∏—è –≤–µ–ª–∏—á–∏–Ω—ã –∑–∞—Ä–∞–±–æ—Ç–Ω–æ–π –ø–ª–∞—Ç—ã –∑–∞–µ–º—â–∏–∫–æ–≤ –±–∞–Ω–∫–∞ (salary) –∏ –∑–Ω–∞—á–µ–Ω–∏—è –∏—Ö –ø–æ–≤–µ–¥–µ–Ω—á–µ—Å–∫–æ–≥–æ –∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞ (scoring):

salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
–ù–∞–π–¥–∏—Ç–µ –∫–æ–≤–∞—Ä–∏–∞—Ü–∏—é —ç—Ç–∏—Ö –¥–≤—É—Ö –≤–µ–ª–∏—á–∏–Ω: —Å–Ω–∞—á–∞–ª–∞ –±–µ–∑ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π, –∞ –∑–∞—Ç–µ–º —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ numpy.cov. –ü–æ–ª—É—á–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å —Ä–∞–≤–Ω—ã.
–ù–∞–π–¥–∏—Ç–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –ü–∏—Ä—Å–æ–Ω–∞: —Å –ø–æ–º–æ—â—å—é –∫–æ–≤–∞—Ä–∏–∞—Ü–∏–∏ –∏ —Å—Ä–µ–¥–Ω–∏—Ö –∫–≤–∞–¥—Ä–∞—Ç–∏—á–µ—Å–∫–∏—Ö –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–π –¥–≤—É—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, –∞ –∑–∞—Ç–µ–º —Å –ø–æ–º–æ—â—å—é —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –∏–∑ –±–∏–±–ª–∏–æ—Ç–µ–∫ numpy –∏ pandas.
–ó–∞–¥–∞—á–∞ 1 - –≤—Å–µ –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ —Ç–æ–º—É, –∫–∞–∫ –±—ã–ª–æ –Ω–∞ –∑–∞–Ω—è—Ç–∏–∏

–§–æ—Ä–º—É–ª–∞ –∫–æ–≤–∞—Ä–∏–∞—Ü–∏–∏ —Å–ª—É—á–∞–π–Ω—ã—Ö –≤–µ–ª–∏—á–∏–Ω  ùëã  –∏  ùëå :
cov(ùëã,ùëå)=ùëÄ((ùëã‚àíùëÄ(ùëã))(ùëå‚àíùëÄ(ùëå))).

In [60]:
import numpy as np
import pandas as pd
from scipy import stats

In [61]:
df = pd.DataFrame({'salary':[35, 45, 190, 200, 40, 70, 54, 150, 120, 110], 'scoring':[401, 574, 874, 919, 459, 739, 653, 902, 746, 832]}, columns = ['salary','scoring'])
df

   salary  scoring
0      35      401
1      45      574
2     190      874
3     200      919
4      40      459
5      70      739
6      54      653
7     150      902
8     120      746
9     110      832

In [62]:
X = df['salary']
Y = df['scoring']

MX = X.mean()
MY = Y.mean()

cov = ((X - MX) * (Y - MY)).sum() / (X.shape[0] - 1)
print(MX)
print(MY)
print(cov)

101.4
709.9
10175.37777777778

In [63]:
np.cov(X, Y, ddof=1)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

–≠—Ç–∞ —Ñ—É–Ω–∫—Ü–∏—è –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –Ω–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫–æ–≤–∞—Ä–∏–∞—Ü–∏–∏, –∞ —Ç.–Ω. –º–∞—Ç—Ä–∏—Ü—É –∫–æ–≤–∞—Ä–∏–∞—Ü–∏–π. –í –Ω–µ–π –ø–æ –¥–∏–∞–≥–æ–Ω–∞–ª–∏ —Å—Ç–æ—è—Ç –≤–∞—Ä–∏–∞—Ü–∏–∏ (—Ç.–µ. –¥–∏—Å–ø–µ—Ä—Å–∏–∏) –∫–∞–∂–¥–æ–π –∏–∑ –≤—ã–±–æ—Ä–æ–∫, –∞ –≤–Ω–µ –¥–∏–∞–≥–æ–Ω–∞–ª–∏ ‚Äî –ø–æ–ø–∞—Ä–Ω—ã–µ –∫–æ–≤–∞—Ä–∏–∞—Ü–∏–∏.

In [64]:
X.var(), Y.var()

(3882.9333333333334, 33854.32222222223)

–í –∫–∞—á–µ—Å—Ç–≤–µ —á–∏—Å–ª–æ–≤–æ–π —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ —Å–ª—É—á–∞–π–Ω—ã—Ö –≤–µ–ª–∏—á–∏–Ω –ª—É—á—à–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å __–∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –ü–∏—Ä—Å–æ–Ω–∞__:
$$r_{XY} = \dfrac{\sigma_{XY}}{\sigma_X \cdot \sigma_Y}$$

–ó–¥–µ—Å—å $\sigma_X$, $\sigma_Y$ ‚Äî —Å—Ä–µ–¥–Ω–µ–µ –∫–≤–∞–¥—Ä–∞—Ç–∏—á–µ—Å–∫–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ.

–ü–æ—Å—á–∏—Ç–∞–µ–º –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –¥–ª—è –≤—ã–±–æ—Ä–æ–∫. –î–ª—è –≤—ã—á–∏—Å–ª–µ–Ω–∏—è —Å—Ä–µ–¥–Ω–∏—Ö –∫–≤–∞–¥—Ä–∞—Ç–∏—á–µ—Å–∫–∏—Ö –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–π –≤–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è –º–µ—Ç–æ–¥–æ–º .std, –∫–æ—Ç–æ—Ä—ã–π –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é –≤—ã—á–∏—Å–ª—è–µ—Ç –Ω–µ—Å–º–µ—â—ë–Ω–Ω—É—é –æ—Ü–µ–Ω–∫—É.

In [65]:
corr = cov / (X.std() * Y.std())
corr

0.8874900920739164

–ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –ü–∏—Ä—Å–æ–Ω–∞ —Å—á–∏—Ç–∞–µ—Ç—Å—è –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `.corr` –æ–±—ä–µ–∫—Ç–æ–≤ `pandas.DataFrame`:

In [66]:
df[['salary', 'scoring']].corr()

          salary  scoring
salary   1.00000  0.88749
scoring  0.88749  1.00000

–¢—É –∂–µ —Å–∞–º—É—é –º–∞—Ç—Ä–∏—Ü—É –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–π –º–æ–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ numpy.corrcoef.

In [67]:
np.corrcoef(X, Y)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

## –ó–∞–¥–∞—á–∞ 2

–ò–∑–º–µ—Ä–µ–Ω—ã –∑–Ω–∞—á–µ–Ω–∏—è IQ –≤—ã–±–æ—Ä–∫–∏ —Å—Ç—É–¥–µ–Ω—Ç–æ–≤, –æ–±—É—á–∞—é—â–∏—Ö—Å—è –≤ –º–µ—Å—Ç–Ω—ã—Ö —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–∏—Ö –≤—É–∑–∞—Ö:

131, 125, 115, 122, 131, 115, 107, 99, 125, 111
–ò–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ –≤ –≥–µ–Ω–µ—Ä–∞–ª—å–Ω–æ–π —Å–æ–≤–æ–∫—É–ø–Ω–æ—Å—Ç–∏ IQ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω –Ω–æ—Ä–º–∞–ª—å–Ω–æ. –ù–∞–π–¥–∏—Ç–µ –¥–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –¥–ª—è –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–æ–≥–æ –æ–∂–∏–¥–∞–Ω–∏—è —Å –Ω–∞–¥–µ–∂–Ω–æ—Å—Ç—å—é 0.95.
–ó–∞–¥–∞—á–∞ 2 - –≤—Å–ø–æ–º–∏–Ω–∞–µ–º –ø—Ä–æ –¥–æ–≤ –∏–Ω—Ç–µ—Ä–≤–∞–ª—ã –¥–ª—è –Ω–µ–∏–∑–≤–µ—Å—Ç–Ω–æ–π –¥–∏—Å–ø–µ—Ä—Å–∏–∏

–¢.–∫. –¥–∏—Å–ø–µ—Ä—Å–∏—è –Ω–µ–∏–∑–≤–µ—Å—Ç–Ω–∞, –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å t-—Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É:

In [68]:
students = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
p = 0.95
n = students.shape[0]
n

10

In [69]:
mean = students.mean()
mean

118.1

In [70]:
std = students.std(ddof=1)
std

10.54566788359614

In [71]:
alpha = 1 - p

t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

t1, t2

(-2.2621571627409915, 2.2621571627409915)

In [72]:
# –î–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(110.55608365158724, 125.64391634841274)

## –ó–∞–¥–∞—á–∞ 3

–ò–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ —Ä–æ—Å—Ç —Ñ—É—Ç–±–æ–ª–∏—Å—Ç–æ–≤ –≤ —Å–±–æ—Ä–Ω–æ–π —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω –Ω–æ—Ä–º–∞–ª—å–Ω–æ —Å –∏–∑–≤–µ—Å—Ç–Ω–æ–π –¥–∏—Å–ø–µ—Ä—Å–∏–µ–π 25. –ù–∞ –≤—ã–±–æ—Ä–∫–µ –æ–±—ä—ë–º–∞ 27 –≤—ã–±–æ—Ä–æ—á–Ω–æ–µ —Å—Ä–µ–¥–Ω–µ–µ —Å–æ—Å—Ç–∞–≤–∏–ª–æ 174.2. –ù–∞–π–¥–∏—Ç–µ –¥–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –¥–ª—è –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–æ–≥–æ –æ–∂–∏–¥–∞–Ω–∏—è —Å –Ω–∞–¥–µ–∂–Ω–æ—Å—Ç—å—é 0.95
–ó–∞–¥–∞—á–∞ 3 - –≤—Å–ø–æ–º–∏–Ω–∞–µ–º –ø—Ä–æ –¥–æ–≤ –∏–Ω—Ç–µ—Ä–≤–∞–ª—ã –¥–ª—è –∏–∑–≤–µ—Å—Ç–Ω–æ–π –¥–∏—Å–ø–µ—Ä—Å–∏–∏

In [73]:
n = 27
p = 0.95
mean = 174.2
d = 25
std = np.sqrt(d)
n, mean, d, p, std

(27, 174.2, 25, 0.95, 5.0)

–ö–≤–∞–Ω—Ç–∏–ª–∏ $t_{\alpha / 2}$ –∏ $t_{1 - \alpha / 2}$ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–≥–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ–≥–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è. –ù–∞–π–¥—ë–º –∏—Ö —Å –ø–æ–º–æ—â—å—é `scipy.stats`

In [74]:
# –ö–≤–∞–Ω—Ç–∏–ª–∏: 
alpha = 1 - p

t1 = stats.norm.ppf(alpha / 2)
t2 = stats.norm.ppf(1 - alpha / 2)

t1, t2

(-1.959963984540054, 1.959963984540054)

In [75]:
# –î–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª

(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(172.3140237765397, 176.08597622346028)